<footer class="footer">
  <div class="container">
    <p><strong>Disclaimer</strong>: This unofficial guide was created by a diverse group of students with a wide range of experiences and opinions. This guide was not sanctioned by any member of the Northeastern University administration or faculty, and is not the product of any official student group. The views and opinions do not necessarily represent the opinions of the individuals involved but are meant to foster dialogue and encourage students to creatively address issues in their community.</p>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
<script src="{{ "/assets/js/dropdowns.js" | relative_url }}"></script>
<script data-goatcounter="https://nudisorientation.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
