<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.url }}">
        <img src="{{ "/public/disorientation-248x248.jpg" | relative_url }}" alt="Disorientation" srcset="{{ "/public/disorientation-248x248.jpg" | relative_url }} 248w, {{ "/public/disorientation-150x150.jpg" | relative_url }} 150w" sizes="(max-width: 400px) 150px, 248px"/>
      </a>
        
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign page_year = page.dir | remove: '/' | times: 1 %}
      {% if page_year == 0 %}
        {% assign page_year = site.default_year %}
      {% endif %}
      
      {% assign all_pages = site.data.pages[page_year] %}
      {% assign page_index = 1 %}
      {% for page_info in all_pages %}
        <a class="sidebar-nav-item{% if page_info.alt_url == page.url %} active{% endif %}" href="{{ page_info.url | relative_url }}">{{ page_index }}. {{ page_info.title }}</a>
        {% assign page_index = page_index | plus: 1 %}
      {% endfor %}

      {% assign last_year_info = site.data.past_years[page_year] %}
      {% if last_year_info %}
        {% assign last_disorientation_url = last_year_info.url %}
        {% if last_year_info.relative %}
          {% assign last_disorientation_url = last_year_info.url | relative_url %}
        {% endif %}
        <a class="sidebar-nav-item" href="{{ last_disorientation_url }}">See the {{ last_year_info.year }} Disorientation Guide</a>
      {% endif %}
    </nav>
  </div>
</div>
